$primary-color: (
  mob: #0d5d83,
  80: #5fa3bb,
  60: #a5cbd9,
  40: #d7e8ee,
  20: #f5f9fb,
  dark: #09425d,
);
$neutral-color: (
  black: #151515,
  white: #fff,
  darkest: #475569,
  dark: #94a3b8,
  base: #cbd5e1,
  light: #e2e8f0,
  lightest: #f2f4f8,
);
$info-color: (
  base: #2581f8,
  dark: #06479d,
);

$success-color: (
  base: #3b8707,
  dark: #3b8707,
);

$warning-color: (
  base: #bf5412,
  dark: #833a0c,
);

$error-color: (
  base: #dd112e,
  dark: #720918,
);

$focus-color: (
  base: #9b256c,
);

$mob-blue-sky-color: (
  mob: #009fe3,
  80: #5cc1ed,
  60: #a3dcf5,
  40: #d6f0fb,
  20: #f5fbfe,
  dark: #0c7cb0,
);

$mob-pink-color: (
  mob: #9b256c,
  80: #bf74a1,
  60: #dbb0ca,
  40: #efdce7,
  20: #fbf6f9,
  dark: #690041,
);

$mob-lagoon-color: (
  mob: #15b79a,
  80: #69d1be,
  60: #abe5da,
  40: #d9f3ef,
  20: #f6fcfb,
  dark: #00866c,
);

$mob-green-garden-color: (
  mob: #bcbe00,
  80: #bcbe00,
  60: #e7e8a3,
  40: #f4f5d6,
  20: #fcfcf5,
  dark: #888e00,
);

$mob-yellow-color: (
  mob: #ffcd03,
  80: #ffdf5d,
  60: #ffeda4,
  40: #fff7d7,
  20: #fffdf5,
  dark: #dcb000,
);

$mob-blue-sea-color: (
  mob: #03488b,
  80: #5d8ab5,
  60: #a4bdd5,
  40: #d7e2ed,
  20: #f5f8fa,
  dark: #00225e,
);

$mob-green-apple-color: (
  mob: #63af2f,
  80: #9bcc7a,
  60: #c7e2b4,
  40: #e6f2de,
  20: #fefefd,
  dark: #2f7f00,
);
